@import "../sasscomponents/navbar.scss";
body{
margin: 0;
padding: 0;
background-color: $primarycolor;
}
.navbar {
    width:100%;
    height: 40px;
    background-color: $secondarycolor;
    display: flex;
    justify-content: flex-end;
    align-items: center ; 

    a {
        margin: 20px;
        text-decoration: none;
        color: $textcolor;
        font-family: 'Courier New', Courier, monospace;
    }

    .container {
        margin-right: 30px
    }
}


